<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_journal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/journal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MapsActivityCurrentPlace">






            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>






        </activity>
        <activity android:name=".Map_activity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"  />

        <activity android:name=".Save_animation_activity" />

        <receiver
            android:name=".Alarm.Alarm_receiver_device_boot"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Alarm.Alarm_activity" />

        <receiver
            android:name=".Alarm.Alarm_receiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ASMR.Asmr_activity" />

        <service
            android:name=".ASMR.Asmr_service"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ASMR.Asmr_menu_activity"
            android:parentActivityName=".Menu_activity" />
        <activity android:name=".Game.Game_mole_result_activity" />
        <activity
            android:name=".Game.Game_mole_activity"
            android:parentActivityName=".Menu_activity" />
        <activity android:name=".Advertisement.Confirm_ad_activity" />
        <activity android:name=".Advertisement.Advertisement_activity" />
        <activity android:name=".Habit_coupon.Habit_coupon_activitiy" />
        <activity android:name=".Habit.Habit_activitiy" />
        <activity android:name=".Password.Confirm_password_activitiy">














        </activity>
        <activity
            android:name=".Assess.Assess_journal_activitiy"
            android:parentActivityName=".Menu_activity" />
        <activity android:name=".Password.Check_password_activitiy" />
        <activity android:name=".Hour_record.Hour_record_activitiy" />
        <activity
            android:name=".Journal.Modify_journal_activitiy"
            android:parentActivityName=".Journal.Main_journal_activitiy" />
        <activity
            android:name=".Journal.Main_journal_activitiy"
            android:parentActivityName=".Menu_activity" />
        <activity
            android:name=".Password.Set_Password_activitiy"
            android:parentActivityName=".Setting_activity" />
        <activity
            android:name=".Journal.Write_journal_activitiy"
            android:parentActivityName=".Journal.Main_journal_activitiy" />
        <activity
            android:name=".Setting_activity"
            android:parentActivityName=".Menu_activity" />
        <activity android:name=".Start_journal_activity" />
        <activity android:name=".Menu_activity" />
        <activity
            android:name=".Chart.Line_chart_activity"
            android:parentActivityName=".Menu_activity" />
    </application>

</manifest>